h2{
    font-family: Arial, Helvetica, sans-serif;
    color: firebrick;
    font-size: 40px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 36px;
}

.vermelho {
    color: #ff0000;
}

.texto_grande {
    font-size: 60px;
}

#titulo_h2 {
    background: pink;
}

#titulo_h2-1 {
    

}