* {
    margin: 0;
}

div {
    border: 4px dotted #00f;
    width: fit-content;
    font-size: 24px;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    /* padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px; */
    /* shorthand */
    /* 1-valor= o mesmo para todos os 4 lados */
    padding: 20px;
    /* 2 valores=primeiro--top e bottom segundo--right e left */
    padding: 30px 50px;
    /* 3 valores= 1 top 2 right 3bottom 4 left */
    padding: 30px 50px 70px 90px;
    /* propriedades extras */
    padding-inline: 40px;
    padding-block: 20px;

}

h1 {
    border: 1px solid red;
    margin-bottom: 20px;
}

.algum {
    margin-bottom: 100px;
}

.ultimo {
    margin-top: 50px;
}

.outro {
    margin-inline: auto;
}